<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Future Tech</h2>
                    <p class="text-muted">Future Tech is dedicated to the cutting edge of technology. Our team works to bring you the latest news, the greatest gadgets, and the smartest advice on everything tech. Our sute is updated regularly with content ranging across a few general categories: </p>
                    <br>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Consumer Electronics</h4>
                    <p class="text-muted"> Our consumer electronics section gives you our opinions on the latest phones, laptops, and other acessories out on the market. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Tech News</h4>
                    <p class="text-muted"> Get the latest news from the tech world about theoretical advances, buisness ventures, and more.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Expert Opinions</h4>
                    <p class="text-muted"> The Future Tech team looks high and low to find experts and advice about topics in technology, so you always have a place to go for all your burning tech questions. </p>
                </div>
            </div>
        </div>
    </section>